@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;

  background: url(/images/bg-header-mobile.png) no-repeat top;
  background-size: cover;
}

/* Color palette */
:root {
  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);
  --color-heading: hsl(210, 10%, 33%);
  --color-text: hsl(201, 11%, 66%);
}

/* Typography */
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  line-height: 2ch;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.9rem;
}

h2,
h3 {
  margin: 0;
}

p {
  max-width: 500px;
  line-height: 2.5ch;
  color: var(--color-text);
  font-size: 1.64rem;
}

/* Button */
.button {
  border-radius: 50px;
  border: 0;
  padding: 12px 35px;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
}

.button--primary {
  color: white;
  background-color: var(--color-primary);
  border-bottom: 3px solid hsl(171, 59%, 40%);
}

.button--primary:hover {
  background-color: hsl(171, 49%, 52%);
}

.button--secondary {
  color: white;
  background-color: var(--color-secondary);
  border-bottom: 3px solid hsl(233, 59%, 58%);
}

.button--secondary:hover {
  background-color: hsl(233, 79%, 72%);
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-top: 5rem;
  width: 100%;
}

@media screen and (min-width: 500px) {
  .button {
    width: 220px;
  }

  .button-container {
    flex-direction: row;
  }
}

/* block */
.block {
  margin: 12rem 3rem;
  display: grid;
  justify-items: center;
}

/* hero block */
.hero-content {
  margin-top: 5rem;
}

@media screen and (min-width: 500px) {
  body {
    background: url(/images/bg-header-desktop.png) no-repeat top;
  }
}

/* feature block */
.feature > .block {
  margin-bottom: 7rem;
}

.feature-section {
  margin: 0 3rem;
}

.feature-image > img {
  width: 100%;
}

.features {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  gap: 3rem;
}

.feature__heading {
  font-size: 2.5rem;
}

.feature__content {
  margin: 1rem 2rem;
}

@media screen and (min-width: 600px) {
  .feature-section {
    display: flex;
    flex-shrink: 1;
    gap: 5rem;
    justify-content: center;
    margin: 0 auto 5rem;
    text-align: left;
  }

  .feature-image {
    max-width: 350px;
  }

  .feature-image > img {
    width: 57rem;
    aspect-ratio: 9/7;
    transform: translateX(-25rem);
  }

  .feature__content {
    max-width: 350px;
    margin-right: 2rem;
    margin-left: 0;
  }
}

/* usability block */
.usability.block {
  margin-bottom: 6rem;
}

.usability-image {
  width: 100%;
  max-width: 70rem;
  margin-top: 5rem;
}

/* workflow block */
.workflow.block {
  margin-top: 6rem;
}

.workflow-tools {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.tool__content {
  margin: 2rem 0;
}

.tool-icon {
  margin-bottom: 3.5rem;
}

@media screen and (min-width: 950px) {
  .workflow-tools {
    flex-direction: row;
    column-gap: 3rem;
  }

  .tool__content {
    max-width: 360px;
  }
}

/* top company */
.top-company {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 7rem;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
}

.top-company > img {
  width: 150px;
}

@media screen and (min-width: 1050px) {
  .top-company {
    flex-direction: row;
  }
}

/* footer block */
footer {
  background-color: hsl(220, 18%, 97%);
}

footer > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  padding: 4rem;
}

.footer-image {
  width: 50px;
}

.footer-links {
  display: grid;
  list-style: none;
  padding: 0;
  gap: 2.5rem;
  margin: 5rem 0;
}

.footer-links a {
  text-decoration: none;
  color: var(--color-heading);
  cursor: pointer;
}

.footer-links a:hover {
  color: var(--color-primary);
}

.social-media-links {
  display: flex;
  gap: 3rem;
  justify-content: center;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  footer > div {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5rem;
    row-gap: 1rem;
    margin: 0;
    justify-items: start;
  }
}
