@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 1440px;
  height: 100%;
  display: grid;
  margin: 0 auto;
  place-content: center;
  place-items: center;
  background: url(/images/bg-header-mobile.png) no-repeat top;
  background-size: cover;
}

/* Color palette */
:root {
  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);
  --color-heading: hsl(210, 10%, 33%);
  --color-text: hsl(201, 11%, 66%);
}

/* Typography */
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  line-height: 2ch;
}

h1 {
  font-size: 3.2rem;
}

p {
  max-width: 500px;
  line-height: 2.5ch;
  color: var(--color-text);
  font-size: 1.64rem;
}

/* Button */
.button {
  text-decoration: none;
  width: 100%;
  padding: 12px 35px;
  border-radius: 50px;
  border: 0;
}

.button--primary {
  color: white;
  background-color: var(--color-primary);
  border-bottom: 3px solid hsl(171, 59%, 40%);
}

.button--secondary {
  color: white;
  background-color: var(--color-secondary);
  border-bottom: 3px solid hsl(233, 59%, 58%);
}

@media screen and (min-width: 500px) {
  .button {
    width: 220px;
  }
}

/* hero block */
.hero {
  margin: 12rem 3rem;
}

.hero__content {
  margin: 5rem 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 500px) {
  body {
    background: url(/images/bg-header-desktop.png) no-repeat top;
  }

  .button-container {
    flex-direction: row;
  }
}
