@import url(/styles/normalize.css);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
}

/* Color palette */
:root {
  --color-primary: hsl(171, 66%, 44%);
  --color-secondary: hsl(233, 100%, 69%);
  --color-heading: hsl(210, 10%, 33%);
  --color-text: hsl(201, 11%, 66%);
}

/* Typography */
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

p {
  color: var(--color-text);
}

/* Button */
.button {
  text-decoration: none;
  padding: 1.2rem 35px;
  border-radius: 50px;
  border: 0;
}

.button--primary {
  color: white;
  background-color: var(--color-primary);
  border-bottom: 3px solid hsl(171, 59%, 40%);
}

.button--secondary {
  color: white;
  background-color: var(--color-secondary);
  border-bottom: 3px solid hsl(233, 59%, 58%);
}
